/* TSOS.css */

body {
  background: #f781b8;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.panel-body {
  padding-top: 2px;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
}

.panel-body textarea, .panel-body table {
  background-color: #eee;
  //background-color: rgba(255,255,255,0.7);
  border: 2px;
  resize: none;
  font-size: 10pt;
    display:block;
}

.panel-body-memoryTable{
  overflow-y:scroll;
  height:250px;
  width: 225px;
}

.panel {
  background-color: rgba(0,0,0,0);
  /*background-color: rgba(0,0,0,0);*/
}

.panel-label {
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(255,255,255,0.7);
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}
